body{
                
    font-family: Arial;
    background: lightblue url("otherfiles/moon.png") no-repeat fixed center; 
    background-size: 2500px 1000px;
    background-repeat: no-repeat;
}
.topnav {
overflow: hidden;
background-color: #333;
position: fixed;
top: 0px;
width: 100%;
}

.topnav #myLinks {
display: none;
}

.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.active {
background-color: #241f17;
color: white;
}
p {
    font-family: 'Times New Roman';
    font-size: larger;
    color: white
}
h1 {
    color: blue;
    text-align: center;
    text-shadow: 2px 2px rgb(138, 129, 129);
    position: relative;
    top: 50px;
    z-index: -1;
}
h4 {
    color: yellow;
}