body{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
#content {
    background-color: #444;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 6px groove gold;
}
#content ul {
    text-align: left;
}
#leiras {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 15% ;
    width: 450px;
    position: relative;
    left: 10%;
}
#leiras p {
    color: black;
    align-self: center;

}
a {
    color: rgb(28, 236, 150);
}
a:hover {
    color: rgb(255, 238, 0);
}
a:active {
    color: greenyellow;
}
table, caption, td {
    border: 1px solid rgb(105, 113, 121);
}
th {
    background-color: rgb(135, 148, 161);
    border: none;
}
#kepszoveg {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 100px;
    height: 60px;
    font-size: 150%;
}
html {
    background: linear-gradient(to top left, #0099cc 0%, #99ff66 100%);
}
